@{

}
<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <form action="Name.cshtml" method="post">
            <table>
                <tr>
                    <td>
                        Name:
                    </td>
                    <td>
                        <input name="name" type="text>" ></input>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Prześlij">
                    </td>
                </tr>
            </table>
            
        </form>
        
    </body>
</html>

