@{
    var rules = new List<string>();
    if (Session["rules"] == null)
    {
        rules.Add("You do not talk about FIGHT CLUB");
        Session["rules"] = rules;
    }
    else
    {
        rules = (List<string>)Session["rules"];
    }

}

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h1>
        The Rules of Fight Club
    </h1>
    <ol>
        @for (int i = 0; i < rules.Count; i++)
        {
        <li>@rules[i]</li>
        }
    </ol>
    <form action="Name_redirect.cshtml" method="post">
        <table>
            <tr>
                <td>
                    Add a new rule:
                </td>
                <td>
                    <input name="rule" type="text>"></input>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Send">
                </td>
            </tr>
        </table>

    </form>

</body>
</html>
